/* resetCSS */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav,
ul,
li {
  list-style: none;
}

p,
h1,
h2,
h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #969696;
  transition: 0.3s;
}

span {
  color: #0a9dd1;
}

img {
  object-fit: cover;
  vertical-align:top;
}

body{
  width: 100%;
  font-family: "Sawarabi Gothic";
  background-color: rgb(249, 245, 237);
  color: #333;
}

.title {
  font-size: 1.25rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header */

header {
  position: fixed;
  padding: 3% 0;
  z-index: 100;
  height: 20px;
  width: 100%;
  background-color: rgb(251, 251, 251);
}

header h1 {
  text-align: center;
  font-weight: normal;
  font-size: 1.08rem;
  font-family: "Nico Moji"
}

.bg-top {
  height: 450px;
  background-color: azure; /* TODO: とりあえず */
}

.overview-wrapper {
  background-color: rgb(253, 253, 253);
  margin: 0 20%;
  margin-top: 7%;
  padding-bottom: 4%;
  padding-left: 9%;
  padding-right: 9%;
}

.overview-title {
  padding-top: 6%;
}

.overview-contents {
  margin: 9% 0;
  text-align: center;
}

.overview-contents p {
  margin-top: 6%;
}

.schedule {
  margin-top: 11%;
}

.schedule-wrapper {
  background-color: rgb(253, 253, 253);
  margin: 0 12%;
}

.schedule-title {
  padding-top: 6%;
}

.schedule-contents {
  margin: 5% 15%;
  margin-left: 28%;
}

.schedule-contents p {
  margin-top: 3%;
}

.schedule-contents p:nth-last-child(0) {
  margin-top: 0;
}

.schedule-contents .takemasa {
  color: rgb(241, 110, 110);
  font-weight: bold;
  font-size: 1.08rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.schedule-contents .takemasa span {
  font-family: "Sawarabi Gothic";
  color: #333;
  font-size: 1rem;
  font-weight: normal;
}

.schedule-attention {
  margin: 2% 8%;
  font-size: 0.88rem;
  padding-bottom: 5%;
  text-align: center;
}

.schedule-attention p {
  color: #888;
}

footer {
  width: 100%;
  background-color: rgb(251, 251, 251);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1.6%;
  margin-top: 11%;
}

footer h2 {
  margin-bottom: 2.5%;
  font-size: 0.95rem;
}

footer small {
  font-size: 0.85rem;
}

@media screen and (max-width: 480px) {
  .title h2 {
    font-size: 1.3rem;
  }

  .bg-top {
    height: 575px;
  }

  .overview-wrapper {
    margin: 0 12%;
    margin-top: 12%;
    padding-left: 7%;
    padding-right: 7%;
  }
  
  .overview-title {
    padding-top: 9%;
  }
  
  .overview-contents {
    margin: 9% 0;
    text-align: center;
  }

  .schedule {
    margin-top: 25%;
  }

  .schedule-contents {
    margin: 5% 8%;
    margin-left: 16%;
  }

  .schedule-contents p {
    margin-top: 5.5%;
    font-size: 0.96rem;
  }

  .schedule-contents .takemasa {
    font-size: 1.15rem;
  }

  .schedule-contents .takemasa span {
    font-size: 0.96rem;
  }

  .schedule-attention {
    margin: 7% 2%;
    font-size: 0.66rem;
  }
}
