/* resetCSS */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav,
ul,
li {
  list-style: none;
}

p,
h1,
h2,
h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #969696;
  transition: 0.3s;
}

span {
  color: #0a9dd1;
}

img {
  object-fit: cover;
  vertical-align:top;
}

body{
  width: 100%;
  font-family: "Sawarabi Gothic";
  background-color: rgb(249, 245, 237);
}

.title {
  font-size: 1.25rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header */

header {
  position: fixed;
  padding: 3% 0;
  z-index: 100;
  height: 20px;
  width: 100%;
  background-color: rgb(251, 251, 251);
}

header h1 {
  text-align: center;
  font-weight: normal;
  font-family: "Nico Moji"
}

.bg-top {
  height: 550px;
  background-color: azure; /* TODO: とりあえず */
}

.overview-wrapper {
  background-color: rgb(253, 253, 253);
  margin: 0 20%;
  margin-top: 7%;
  padding-bottom: 4%;
  padding-left: 9%;
  padding-right: 9%;
}

.overview-title {
  padding-top: 6%;
}

.overview-contents {
  margin: 9% 0;
}

.overview-contents p {
  margin-top: 6%;
}

.schedule {
  margin-top: 11%;
}

.schedule-wrapper {
  background-color: rgb(253, 253, 253);
  margin: 0 12%;
}

.schedule-title {
  padding-top: 6%;
}
